global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend postgres_read
    bind *:5432
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin
    option pgsql-check user app
    server db-replica-1 db-replica-1:5432 check
    server db-replica-2 db-replica-2:5432 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
